@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img src="https://hersel.it/immagini/logoantares.png" class="img-fluid" alt="Responsive image">
        <h3>Il server utilizza i seguenti servizi</h3>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">NGINX</h5>
                        
                        <a href="https://www.nginx.com" class="btn btn-primary">Maggiori Informazioni</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PostgreSQL</h5>
                       
                        <a href="https://www.postgresql.org" class="btn btn-primary">Maggiori Informazioni</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--SECONDA TABELLA-->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MariaDB</h5>
                        
                        <a href="https://mariadb.org" class="btn btn-primary">Maggiori Informazioni</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">.NET CORE</h5>
                       
                        <a href="https://dotnet.microsoft.com/download" class="btn btn-primary">Maggiori Informazioni</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
